@model UserViewModel

@{
    ViewData["Title"] = "Login";
}

<div id="div-login" class="row align-items-center d-flex justify-content-center" style="height: 80vh;">
    <div class="col-sm-12 col-md-12 col-lg-6">
        <form id="form-login" method="post" action="@Url.Action("Login", "Auth")" class="form-group">
            <h4 class="text-center">Login</h4>
            <div class="mb-2">
                @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "form-label" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 border-start">
        <h4 class="text-center">Register</h4>
        <form id="form-register" method="post" action="@Url.Action("Register", "Auth")" class="form-group">
            <div class="mb-2">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        @Html.LabelFor(m => m.FirstName, htmlAttributes: new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    </div>
                    <div class="col-sm-12 col-md-6">
                        @Html.LabelFor(m => m.LastName, htmlAttributes: new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="mb-2">
                @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            <div class="mb-2">
                @Html.LabelFor(m => m.Tag, htmlAttributes: new { @class = "form-label" })
                <div class="input-group">
                    <span class="input-group-text">@@</span>
                    @Html.TextBoxFor(m => m.Tag, new { @class = "form-control" })
                </div>
            </div>
            <div class="mb-3">
                @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "form-label" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

<script>
    $('#form-login').on('submit', function (event){
        event.StopImidiantePropagation();
        event.PreventDefault();

        SubmitForm(this, ReloadCallback);
    });

    $('#form-register').on('submit', function (event){
        event.StopImidiantePropagation();
        event.PreventDefault();

        SubmitForm(this, DefaultCallbackSubmitForm);
    });

</script>
